<header class="w-2/5 mx-auto flex items-center justify-center bg-gradient-to-r from-[#31066B] to-[#1E043C] p-6 rounded-b-lg">
    <div class="text-center text-[#bf9bee]">
        <img class="w-24 mx-auto" src="https://raw.githubusercontent.com/mschwarzmueller/angular-complete-guide-course-resources/main/attachments/02-essentials/task-management-logo.png" alt="">
        <h1 class="text-2xl font-semibold my-2">Easytask</h1>
        <p>Enter level task management without friction</p>
    </div>
</header>